{% if google_adwords.hasActiveConversions() %}
{% for activeConversion in google_adwords.getActiveConversions() %}
<!-- GOOGLE CODE FOR CONVERSION START -->
<script type="text/javascript">
{% for key, value in activeConversion.getParameters() %}
    var google_{{ key }} = {{ value }};
{% endif %}
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
	src="{{ activeConversion.getTrackingUrl() }}{{ activeConversion.getId() }}/?label={{ activeConversion.getLabel() }}&amp;value={{ activeConversion.getValue() }}&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<!-- GOOGLE CODE FOR CONVERSION END -->
{% endfor %}
{% endif %}
